<div class="wrapper wrapper-full-page">
  <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/dashboard">OBQA System</a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/#/dashboard">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <li class="active">
            <a href="/#/pages/sign-up">
              <i class="material-icons">person_add</i> Sign-up
            </a>
          </li>
          <li class="">
            <a href="/#/pages/sign-in">
              <i class="material-icons">fingerprint</i> Sign-in
            </a>
          </li>
          <li class="">
            <a href="/#/pages/lock">
              <i class="material-icons">lock_open</i> Lock
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="full-page login-page" filter-color="black">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
            <form [formGroup]="signUpForm" (submit)="submit()">
              <div class="card card-login card-hidden">
                <div class="card-header text-center" data-background-color="green">
                  <h4 class="card-title">Sign up:</h4>
                </div>
                <div class="card-content col-md-12">
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">info</i>
                      </span>
                      <app-obqa-input-basic 
                        length="12" 
                        formControlName="email" 
                        [c]="signUpForm.controls.email" 
                        [optional]="true"
                        idd="email" 
                        placeholder=""
                        type="email" 
                        text="Email:">
                      </app-obqa-input-basic>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">info</i>
                      </span>
                      <app-obqa-input-basic 
                        length="12" 
                        formControlName="fname" 
                        [c]="signUpForm.controls.fname" 
                        [optional]="true"
                        idd="fname" 
                        placeholder=""
                        type="text" 
                        text="Firstname:">
                      </app-obqa-input-basic>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">info</i>
                      </span>
                      <app-obqa-input-basic 
                        length="12" 
                        formControlName="lname" 
                        [c]="signUpForm.controls.lname" 
                        [optional]="true"
                        idd="lname" 
                        placeholder=""
                        type="text" 
                        text="Lastname:">
                      </app-obqa-input-basic>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">info</i>
                      </span>
                      <app-obqa-input-basic 
                        length="12" 
                        formControlName="idNumber" 
                        [c]="signUpForm.controls.idNumber" 
                        [optional]="true"
                        idd="idNumber" 
                        placeholder=""
                        type="text" 
                        text="ID Code:">
                      </app-obqa-input-basic>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">info</i>
                      </span>
                      <app-obqa-input-basic 
                        length="12" 
                        formControlName="password" 
                        [c]="signUpForm.controls.password" 
                        [optional]="true"
                        idd="password" 
                        placeholder=""
                        type="password" 
                        text="Password:">
                      </app-obqa-input-basic>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">info</i>
                      </span>
                      <app-obqa-input-basic 
                        length="12" 
                        formControlName="confirmation" 
                        [c]="signUpForm.controls.confirmation" 
                        [optional]="true"
                        idd="confirmation" 
                        placeholder=""
                        type="password" 
                        text="Retype Password:">
                      </app-obqa-input-basic>
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">info</i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label" for="invitationCode" [attr.for]="idd">Invitation Code <span class="star">*</span>
                      </label>
                      <div class="form-group">
                        <input class="form-control"
                          formControlName="invitationCode" 
                          type="invitationCode"
                          #input id="invitationCode"
                          placeholder=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <button type="submit" [ngClass]="{
                    'btn-info': signUpForm.valid,
                    'btn-disabled': !signUpForm.valid,
                    'btn btn-wd btn-lg': true
                  }" [disabled]="!signUpForm.valid">Sign-Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <!-- <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Company
              </a>
            </li>
            <li>
              <a href="#">
                Portfolio
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
          </ul> -->
        </nav>
        <p class="copyright pull-right">
          &copy; {{test | date: 'yyyy'}}
          <a href="">DLSU</a>, Outcomes-based Quality Assurance
        </p>
      </div>
    </footer>
    <div class="full-page-background" style="background-image: url(../../../assets/img/login.jpeg) "></div>
  </div>
</div>
