<div class="row">
  <div class="col-md-2">
      <ul class="nav nav-pills nav-pills-icons nav-pills-danger nav-stacked" role="tablist">
          <li *ngFor="let assessment of assessmentData; index as i">
              <a href="#{{i}}" data-toggle="tab">{{assessment.sopi}}</a>
          </li>
      </ul>
  </div>
  <div class="col-md-10">
      <div class="tab-content">
        <div *ngFor="let assessment of assessmentData; index as i" id="{{i}}" class="tab-pane">
          <app-evidence-detail-view
            [assessment]="assessment"
            [myClass]="selectedClassData"
          ></app-evidence-detail-view>
        </div>
      </div>
  </div>
</div>
