<div class="card-content">
	<ul class="nav nav-pills nav-pills-icons nav-pills-warning">
		<li class="active">
			<a href="#pill1" data-toggle="tab">Max</a>
		</li>
		<li>
			<a href="#pill2" data-toggle="tab">Median</a>
		</li>
		<li>
			<a href="#pill3" data-toggle="tab">Min</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="pill1">
			<app-evidence-add
				[evidence]="evidenceMax"
			>
			</app-evidence-add>
		</div>
		<div class="tab-pane" id="pill2">
			<app-evidence-add
				[evidence]="evidenceMedian"
			>
			</app-evidence-add>
		</div>
		<div class="tab-pane" id="pill3">
			<app-evidence-add
				[evidence]="evidenceMin"
			>
			</app-evidence-add>
		</div>
	</div>
</div>