<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin: 0;">
          <div class="card-content">
            <ul class="nav nav-pills nav-pills-primary">
              <li class="active">
                <a href="#classRecord" data-toggle="tab">Class Record</a>
              </li>
              <li>
                <a href="#evidence" data-toggle="tab">Evidence</a>
              </li>
              <li>
                <a href="#pill3" data-toggle="tab">Options</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="classRecord">
              <div class="col-md-6" *ngIf="!myClassStudents">
                  <ul class="timeline timeline-simple">
                    <li class="timeline-inverted">
                      <div class="timeline-badge danger">
                        <i class="material-icons">card_travel</i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <span class="label label-danger">No record</span>
                        </div>
                        <div class="timeline-body">
                          <p>No record found for this class {{ myClassId }}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="row" *ngIf="myClassStudents">
                  <app-obqa-table
                    tableTitle="Class List"
                    [actionDelete]="true"
                    [tableDataArray]="(myClassStudents)"
                    [tableHeaderName]="dataNames"
                    [tableHeaderAlias]="dataNameAlias"
                    (clickEdit)="onClickEdit($event)"
                    (clickDelete)="onClickDelete($event)"
                    (clickMore)="onMoreClick($event)"
                  ></app-obqa-table>
                </div>
              </div>
              <div class="tab-pane" id="evidence">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time
                schemas.
                <br />
                <br />Dramatically maintain clicks-and-mortar solutions without functional solutions.
              </div>
              <div class="tab-pane" id="pill3">
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer
                service with robust ideas.
                <br />
                <br />Dynamically innovate resource-leveling customer service for state of the art customer service.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>