*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after,
*:before{
  box-sizing: border-box;
}

.discussion-wrapper{
  display: flex;
  flex-direction: column;            
  height: 60vh;
  overflow: hidden;
}
.discussion-header{
  flex: 0 0 auto;  
  background: #aaa;
}
.discussion-content{
  display: flex;
  flex: 1 1 auto;     
  overflow-y: auto;
  flex-direction: column-reverse;     
}
.discussion-footer{
  flex: 0 0 auto;  
  background: #aaa;
}

.discussion-item {

}