<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *appspinner="(spinner | async)" class="col-md-12">
        <div class="col-md-12">
          <div class="card">
            <form [formGroup]="myClassForm" (submit)="submit($event)">
              <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">add</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">Add New Class</h4>
                <div class="col-md-4">
                  <mat-form-field style="width:100% !important;" ngClass="form-group label-floating">
                    <mat-select placeholder="Academic Year"  formControlName="academicYear">
                      <mat-option *ngFor="let i of (academicYearData)" value="{{i.value}}">{{i.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field style="width:100% !important;" ngClass="form-group label-floating">
                    <mat-select placeholder="Term"  formControlName="term">
                        <mat-option *ngFor="let i of (termData)" value="{{i.value}}">{{i.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field style="width:100% !important;" ngClass="form-group label-floating">
                    <mat-select placeholder="Cycle"  formControlName="cycle">
                      <mat-option *ngFor="let i of (cycleData)" value="{{i.value}}">{{i.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field style="width:100% !important;" ngClass="form-group label-floating">
                    <mat-select placeholder="Course"  formControlName="programCourseId">
                        <mat-option *ngFor="let i of (courses | async)" value="{{i.id}}">{{i.code}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-md-4" *ngIf="isAdmin">
                  <mat-form-field ngClass="form-group label-floating">
                    <mat-select placeholder="Instructor"  formControlName="instructorId">
                        <mat-option *ngFor="let i of (instructors | async)" value="{{i.id}}">{{i.lname}}, {{i.fname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <button type="submit" [disabled]="!myClassForm.valid" [ngClass]="{'btn': true ,'btn-info': myClassForm.valid, 'btn-disabled': !myClassForm.valid }">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">folder</i>
              </div>
              <div class="card-content">
                <h4 class="card-title">Upload .xls File</h4>
                <app-obqa-upload-basic fileAlias="file" [URL]="uploadUrl"></app-obqa-upload-basic>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>