<div class="main-content">
  <div>
    <div class="row">
      <div class="col-md-12 ">
        <div [ngClass]="{'nav-center': !isMobileView(), 'row': isMobileView()}">
          <div style="margin-right: 15px; margin-left: 15px">
            <ul [ngClass]="{'nav': true, 'nav-pills': true, 'nav-pills-info': true, 'nav-pills-icons': true, 'nav-stacked': isMobileView()}"
              role="tablist">
              <!--
                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
            -->
              <li class="active">
                <a href="#class-details" role="tab" data-toggle="tab">
                  <i class="material-icons">info</i> Class Details
                </a>
              </li>
              <li>
                <a href="#class-record" role="tab" data-toggle="tab">
                  <i class="material-icons">input</i> Class Record
                </a>
              </li>
              <li>
                <a href="#class-evidence" role="tab" data-toggle="tab">
                  <i class="material-icons">import_contacts</i> Evidence
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!(spinner | async); else spin" class="tab-content">
          <div class="tab-pane active" id="class-details">
            <app-class-details></app-class-details>
          </div>
          <div class="tab-pane" id="class-record">
            <app-class-record></app-class-record>
          </div>
          <div class="tab-pane" id="class-evidence">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Evidences</h4>
                <p class="category">
                  More information here
                </p>
              </div>
              <div class="card-content">
                <app-evidence-class-view
                  [assessments]="assessments"
                  [selectedClass]="selectedClass"
                ></app-evidence-class-view>
              </div>
            </div>
          </div>
        </div>
        <ng-template #spin>
          <div style="margin-top: 50%">
            <div *appspinner="true">

            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>