<form [formGroup]="forgotPasswordForm" (submit)="submit()">
  <div class="card card-login card-hidden">
    <div class="card-header text-center" data-background-color="green">
      <h4 class="card-title">Forgot Password</h4>
    </div>
    <div class="card-content">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">face</i>
        </span>
        <app-obqa-input-basic length="20" formControlName="email" [c]="forgotPasswordForm.controls.email" [optional]="true" idd="email" placeholder=""
          type="email" text="Email:"></app-obqa-input-basic>
      </div>
    </div>
    <div class="footer text-center">
      <button type="button" (click)="toggleSignin()" class="btn btn-rose btn-simple btn-lg">Cancel</button>
      <button type="submit" class="btn btn-rose btn-simple btn-lg">Get New Password</button>
    </div>
  </div>
</form>